body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

#container {
  margin-top: 50px;
}

#room-container {
  margin-bottom: 20px;
}

#canvas {
  display: none;
  border: 1px solid black;
  margin: 0 auto;
  cursor: crosshair;
}
